
// 創造顏色、字大小的變數
$color-primary:orange;
$color-secondary:gray;
$color-tertiary:royalblue;

$font-lg:40px;
$font-md:30px;
$font-sm:20px;

.nav{
  background-color: $color-primary;
  ul li{
    list-style: none;
  }
  a{
    text-decoration: none;
    font-size: $font-sm;
    color: $color-secondary;
    &:hover{
      color: $color-tertiary;
    }
  }
}
// 發現h1,h3樣式一樣
@mixin headingStyles($fontSize){
  //以代參數方式來放入不同字體大小的變數設定
  font-size: $fontSize;
 color: $color-secondary;
  text-align: center;
} 

@mixin transition($param...) {
  transition: $param;
}
.banner h1{
 
 @include headingStyles($font-lg);
}
.footer h3{

  @include headingStyles($font-md);
  @include transition(color .5s ,background-color 1s);
  &:hover{
    color:$color-tertiary;
    background-color: $color-primary;
  }
}
