.btn{
  width: 16rem;
  height: 4rem;
  text-decoration: none;
  //  border:.1rem solid  #000;
  position: relative;
  @include flexPosition(space-around);

  &:hover .btn-bg{
    width: 18rem;
  }
  
  &:hover .btn-text{
    color: color(secondary);
  }

  &:hover .arrow{
    transform: translateX(1rem);
  }
  &:hover .arrow-line-1{
    width: 2rem;
  }

  &-bg{
     width: 4rem;
     height: 4rem;
    background-color: color(primary) ;
    //使其變圓形
     border-radius: 5rem ;
    position: absolute;
    left: 0;
    transition: width .2s ;
  }
  &-text{
    font-size: size(xs);
    text-transform: uppercase;
    color: color(primary);
    z-index: 10;
  }
  .arrow{
    @include flexPosition;
    transition: transform .2s ;

    &-line {
      height: .2rem;
      background-color: color(secondary);
      position: absolute;
      //將x變成arrow > ;因預設原點是在center，所以須將原點拉到右邊，形成箭頭
      transform-origin:right;
  }
   
    &-line-1{
      width: 0;
      transform: translateX(-0.7rem);
      transition: width .2s ;
    }
   
    &-line-2 {
     
      width: 1rem;
      //透過旋轉線2,線3使其成為交叉
      transform: rotateZ(45deg);
    }

    &-line-3 {
     
      width: 1rem;
      transform: rotateZ(-45deg);
    }
   }
}
