.footer{
//footer有三區，中間是表單，左右邊分別為資訊連結

  grid-column: 1/-1;
  grid-row: 4/5;
  @include flexPosition(space-around);
  padding:5rem 0 ;
  border-top: .1rem solid color(primary);
}
//針對ul的部分，去修飾條列的項目
.footer-nav{
  @include footerList;
}
.contact-list{
  @include footerList;
}

.contact{
   &-heading{
     font-size: size(xl);
     color: color(primary);
     text-align: center;
   }
   &-paragraph{
     font-size: size(lg);
     text-align: center;
     margin: 1rem 0;
   }
   .inputs-group{
     display: flex;

     input{
       padding: 1rem;
       font-size: size(xs);
       margin: 1rem .5rem;
      border: .1rem solid darken(color(primary),10%);
       border-radius: .3rem ;
       outline:none ;
       transition: border .5s;

       &:focus:not([type="submit"]){
         border: .1rem solid darken(color(quaternary),30%);
       }
     }
     &-text{
       width: 50%;
     }
     &-email{
       width: 60%;
     }
     &-btn{
       width: 40%;
       color: color(secondary);
       background-color: lighten(color(primary),20%);
       transition: background-color .2s;

       &:hover{
         background-color: color(primary);
       }
     }
   }
}
