*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sana',sans-serif;
}
//html的預設是16px＝1rem
//在此專案，希望1rem＝10px（計算10/16=0.625;轉換為百分比*100=62.5）https://www.oxxostudio.tw/articles/201809/css-font-size.html
html{
  font-size: 62.5px;
}
